<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>
    
    <br>
    <li> All features for Issue tracker were implemented accordingly to the provided inputs</li>
    <br> 
    <li>In real life the app may require roles segregation by person, who requests service, and<br>
     &ensp;&ensp;  the person, who resolves issues. This can be done with authorization via JWT token. <br>
     &ensp; &ensp;However, the inputs didn't require that, thus YAGNI designing principle was used. </li>





</body>
</html>